
<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Welcome to Fitter Together!</h1>
  <h5>Fitter Together is a social media application to connect people who are interested
    in eating healthy food and exercising. This application allows users to post food
    items, gyms, stores, and workouts they like, search for posts made by other users,
    and follow other users and users' posts.</h5>

  <!-- Input for Username and Password -->
  <form (ngSubmit)="login()" #f="ngForm">
    <input placeholder="username"
           type="text"
           name="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username!
      </span>
    <input placeholder="password"
           type="password"
           class="form-control"
           name="password"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter password!
      </span>
    <button class="btn btn-primary btn-block"
            type="submit"
            (click)="login()"
            [disabled]="!f.valid">
      Login
    </button>
    <a href="/facebook/login" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>
    <button class="btn btn-primary btn-block"
            type="submit"
            (click)="anonUser()">
      Continue as Anonymous User
    </button>
    <button class="btn btn-success btn-block"
            type="submit"
            [routerLink]="['/project/register']">
      Register
    </button>
  </form>
</div>
