
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Food Details</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user']" class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>



<div class="container-fluid post-nav">

  <div class="row">
    <!-- List of Websites for left side of page -->
    <div class="col-sm-6">

      <div>
        <img src={{foodData.image}} width="100%">
      </div>

    </div>
    <!-- Form for Website Name and Description for right side -->
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">Name of Food: {{foodData.name}}</li>
        <li class="list-group-item">Food Type: {{foodData.type}} </li>
        <li class="list-group-item">Protein: {{foodData.protein}} </li>
        <li class="list-group-item">Carbs: {{foodData.carbs}} </li>
        <li class="list-group-item">Fats: {{foodData.fats}} </li>
        <li class="list-group-item">Poster's Name:
          <a [routerLink]="['/project', 'user', userId, 'other-user', otherId]">{{otherName}} </a></li>
      </ul>
    </div>
  </div>

<a class="btn btn-primary btn-block" (click)="follow()">Follow Food Item</a>
<a class="btn btn-danger btn-block" (click)="unfollow()">Unfollow Food Item</a>
</div>

<br><br>
<br><br>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user']">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
