


  <nav class="navbar navbar-default navbar-fixed-top lock-top">
    <div class="container-fluid">

      <!--back arrow in nav bar-->
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page' ]" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left banner"></span>
          </a>
        </p>

      <!--plus symbol on nav bar-->
        <p class="navbar-text pull-right">
          <a [routerLink]= "['/user', userId, 'website', websiteId, 'page', 'widget', 'new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus banner"></span>
         </a>
       </p>

     <!--heading on the nav bar-->
      <p class="navbar-header">
        <a class="navbar-brand thick">
          <b class="banner">Widgets</b>
        </a>
      </p>

    </div>
  </nav>

  <!-- List of Widgets and Tools Displayed -->
  <div *ngFor="let widget of widgets" class="container post-nav">

    <div div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <!-- heading widget -->
        <div class="widget-item">
          <div class="toolbar">
            <a href="#">
              <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            </a>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
          </div>
          <h2> {{widget.text}} </h2>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <!-- image widget -->
        <div class="widget-item">
          <div class="toolbar">
            <a href="#">
              <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            </a>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
          </div>
          <img src={{widget.url}} width="100%">
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <!-- youtube widget -->
        <div class="widget-item">
          <div class="toolbar">
            <a href="#">
              <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            </a>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
          </div>
          <iframe width={{widget.width}} height={{widget.height}} [src]="widget.url | safe"
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div *ngSwitchCase="'HTML'">
        <!-- HTML Widget -->
        <div class="widget-item">
          <div class="toolbar">
            <a href="#">
              <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            </a>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
          </div>
          {{widget.text}}
        </div>
      </div>

    </div>

    </div>


  <!-- Breaks for spacing -->
  <br>
  <br>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom lock-top">
  <div class="container">

    <p class="navbar-text pull-left">
    <!-- play arrow -->
      <a href="#">
        <span class="glyphicon glyphicon-play banner"></span>
      </a>
    </p>

    <!-- profile icon -->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId ]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

    <!-- eye icon -->
    <p class="navbar-text">
      <a href="#">
        <span class="banner glyphicon glyphicon-eye-open"></span>
      </a>
    </p>

  </div>
</nav>
