


  <nav class="navbar navbar-default navbar-fixed-top lock-top">
    <div class="container-fluid">

      <!--back arrow in nav bar-->
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user/:uid/website/:wid/page']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left banner"></span>
          </a>
        </p>

      <!--plus symbol on nav bar-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/user/:uid/website/:wid/page/widget/new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus banner"></span>
         </a>
       </p>

     <!--heading on the nav bar-->
      <p class="navbar-header">
        <a class="navbar-brand thick">
          <b class="banner">Widgets</b>
        </a>
      </p>

    </div>
  </nav>

  <!-- List of Widgets and Tools Displayed -->
  <div *ngFor="let widget of widgets" class="container post-nav">

    <div div [ngSwitch]="widget.type">

      <div *ngSwitchCase="'Header'" class="widget-item">
        <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        </div>
        {{widgetText}}
     </div>

    <div *ngSwitchCase="'Image'" class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <img src={{widgetUrl}} width={{widgetWidth}}>
    </div>

      <div *ngSwitchCase="'Image'" class="widget-item">
        <div class="toolbar">
          <a href="#">
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          </a>
          <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </div>
        <iframe width="420" height="315" src={{widgetUrl}}
                frameborder="0" allowfullscreen></iframe>
      </div>


    </div>

    <br/>
    <br/>
    <h1> OLD WIDGETS ------> </h1>
    <br/>
    <br/>

    <!-- Heading Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <h2> GIZMODO </h2>
    </div>

    <!-- Heading Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <h4> Ethics and Artificial Intelligence </h4>
    </div>

    <!-- Image Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <img src="https://static01.nyt.com/images/2017/09/02/opinion/02etzioniWeb/02etzioniWeb-master315.jpg"
           width="100%">
    </div>

    <!-- HTML Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <p class="story-body-text story-content" data-para-count="14" data-total-count="14">
        <strong>To the Editor:</strong>
      </p>
      <p class="story-body-text story-content" data-para-count="83" data-total-count="97">
        Re “<a href="https://www.nytimes.com/2017/09/01/opinion/artificial-intelligence-regulations-rules.html">
        How to Regulate Artificial Intelligence</a>,” by Oren Etzioni (Op-Ed, Sept. 2):</p>
      <p class="story-body-text story-content" data-para-count="326" data-total-count="423">
        Last year, my lab at Georgia Tech created Jill Watson, an A.I.-powered virtual teaching
        assistant designed to help answer students’ questions in the discussion forum of an
        online class on artificial intelligence. To assess Jill’s performance properly, we
        chose not to reveal her identity until the conclusion of the class.
      </p>
      <p class="story-body-text story-content" data-para-count="260" data-total-count="683">
        Mr. Etzioni characterized our experiment as an effort to “fool” students. The point of
        the experiment was to determine whether an A.I. agent could be indistinguishable from
        human teaching assistants on a limited task in a constrained environment. (It was.)
     </p>
     <p class="story-body-text story-content" data-para-count="80" data-total-count="763">
       When we did tell the students about Jill, their response was uniformly positive.
     </p>
     <p class="story-body-text story-content" data-para-count="210" data-total-count="973">
       We were aware of the ethical issues and obtained approval of Georgia Tech’s Institutional
       Review Board, the office responsible for making sure that experiments with human subjects
       meet high ethical standards.
     </p>
     <p class="story-body-text story-content" data-para-count="123" data-total-count="1096">
       We believe that experiments like Jill are critical for deeply
       understanding the emerging ethics of artificial intelligence.
     </p>
     <p class="story-body-text story-content" data-para-count="19" data-total-count="1115">
       ASHOK GOEL, ATLANTA
     </p>
     <p class="story-body-text story-content" data-para-count="81" data-total-count="1196">
       <em>
         The writer is a professor of computer science at Georgia Institute of Technology.
       </em>
     </p>
     <a class="visually-hidden skip-to-text-link"
        href="https://www.nytimes.com/2017/09/01/opinion/artificial-intelligence-regulations-rules.html#whats-next">
       Continue reading the main story
     </a>
  </div>

    <!-- Heading Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <h3>
          Beethoven Study Music Classical Vol.3 -
          Classical Music for Studying and Concentration, Reading
      </h3>
    </div>

    <!-- Youtube Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/vLmNI3obuBI"
              frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- Heading Widget -->
    <div class="widget-item">
      <div class="toolbar">
        <a href="#">
          <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        </a>
        <a [routerLink]="['/user/:uid/website/:wid/page/widget/:wgid']">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
      <p>
        3 Hours of Classical Music for studying and concentration.
        The best Beethoven study music and relaxing instrumental piano song with soothing rain sounds.
      </p>
    </div>
  </div>

  <!-- Breaks for spacing -->
  <br>
  <br>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom lock-top">
  <div class="container">

    <p class="navbar-text pull-left">
    <!-- play arrow -->
      <a href="#">
        <span class="glyphicon glyphicon-play banner"></span>
      </a>
    </p>

    <!-- profile icon -->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/:uid']">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

    <!-- eye icon -->
    <p class="navbar-text">
      <a href="#">
        <span class="banner glyphicon glyphicon-eye-open"></span>
      </a>
    </p>

  </div>
</nav>
