
<div class="container">
  <!-- Form for Registering with Username and Password -->
  <h1>Register</h1>
  <form (ngSubmit)="register()" #f="ngForm">
    <input placeholder="full name"
           type="text"
           name="name"
           ngModel
           required
           #name="ngModel"
           class="form-control"/>
    <input placeholder="username"
           type="text"
           name="username"
           ngModel
           required
           #username="ngModel"
           class="form-control"/>
    <input placeholder="password"
           type="password"
           class="form-control"
           name="password"
           ngModel
           required
           #username="ngModel"/>
    <input placeholder="verify password"
           type="password"
           class="form-control"
           name="reenter"
           ngModel
           required
           #username="ngModel"/>
    <input type="radio" required name="role" value="athlete" checked/> Athlete <br>
    <input type="radio" required name="role" value="trainer"/> Trainer <br>
    <input type="radio" required name="role" value="nutritionist"/> Nutritionist <br>
    <!-- Buttons for Submit and Cancel -->
    <button class="btn btn-primary btn-block"
            type="submit"
            [routerLink]=profileURL>
      Register
    </button>
    <button class="btn btn-danger btn-block"
            [routerLink]="['/project/login']">Cancel</button>
  </form>
</div>
