<div class="container">

  <h1>
    Hello! Welcome to my home Page!
  </h1>


  <div class="container-fluid post-nav">

    <div class="row">
      <!-- List of Websites for left side of page -->
      <div class="col-sm-6">

        <div class="widget-item">
          <img src={{imgUrl}} width="75%">
        </div>

      </div>
      <!-- Form for Website Name and Description for right side -->
      <div class="col-sm-6">
        <ul>
          <li> Matt Marcotte </li>
          <li> Candidate for Master's </li>
          <li> Northeastern University </li>
          <li> Web Development </li>
          <li> Fall 2017 </li>
        </ul>
      </div>
    </div>

  </div>

  <a class="btn btn-primary btn-block"
     href="https://webdev-marcotte-matthew.herokuapp.com/login">Assignments</a>

  <a class="btn btn-primary btn-block"
     href="https://webdev-marcotte-matthew.herokuapp.com/project/login">Go To Project On Heroku! </a>

  <a class="btn btn-primary btn-block"
     href="#">Go To Project Demo Video!</a>

  <a class="btn btn-primary btn-block"
     href="https://github.com/marcotte628/webdev-marcotte-matthew">Go To Github!</a>

  <a class="btn btn-primary btn-block" href="test">Test MongoDB!</a>

</div>
