<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="banner">Welcome to my Home Page!</b>
      </a>
    </p>

  </div>
</nav>


<div class="container post-nav">

  <div class="container-fluid post-nav">

    <div class="row">
      <!-- List of Websites for left side of page -->
      <div class="col-sm-6">
        <div class="widget-item">
          <img src="https://avatars0.githubusercontent.com/u/31739001?s=400&u=e7adbf2d16145b31939174a89b68d29a28f89266&v=4" width="100%">
        </div>

      </div>
      <!-- Form for Website Name and Description for right side -->
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item"> <strong> Matt Marcotte </strong></li>
          <li class="list-group-item"> <strong> Candidate for Master's </strong></li>
          <li class="list-group-item"> <strong> Northeastern University </strong></li>
          <li class="list-group-item"> <strong> Web Development </strong></li>
          <li class="list-group-item"> <strong> Fall 2017 </strong></li>
        </ul>
      </div>
    </div>

  </div>

  <a class="btn btn-primary btn-block"
     href="https://webdev-marcotte-matthew.herokuapp.com/login">Assignments</a>

  <a class="btn btn-success btn-block"
     href="https://webdev-marcotte-matthew.herokuapp.com/project/login">Go To Project On Heroku! </a>

  <a class="btn btn-info btn-block"
     href="#">Go To Project Demo Video!</a>

  <a class="btn btn-warning btn-block"
     href="https://github.com/marcotte628/webdev-marcotte-matthew">Go To Github!</a>

  <a class="btn btn-danger btn-block" href="test">Test MongoDB!</a>

  <br><br>
  <br><br>
</div>
