
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Post New Food</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container post-nav">
  <form #f="ngForm">
    <div class="form-group">
      <label for="foodName">Food Name</label>
      <input name="foodName"
             id="foodName"
             #name="ngModel"
             placeholder="food name"
             type="text"
             class="form-control"
             ngModel
             required>
    </div>

    <div class="form-group">
      <label for="type">Food Type</label>
      <input name="type"
             id="type"
             #type="ngModel"
             placeholder="food type"
             type="text"
             class="form-control"
             ngModel
             required>
    </div>

    <div class="form-group">
      <label for="image">Food Image</label>
      <input name="image"
             id="image"
             #image="ngModel"
             placeholder="food image url"
             type="text"
             class="form-control"
             ngModel
             required>
    </div>

    <a class="btn btn-primary btn-block"
       (click)="getAPIid()" >Add Food</a>
  </form>
</div>


<!--nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user', userId]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container post-nav">

  <h1> Enter Information to create a new food post </h1>

  <form (ngSubmit)="createFood()" #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input  placeholder="enter a username to get user info"
              type="text"
              id="name"
              name="name"
              class="form-control"
              ngModel
              required
              #username="ngModel">
    </div>

    <div class="form-group">
      <label for="type"> Type </label>
      <input  placeholder="enter a username to get user info"
              type="text"
              name="type"
              id="type"
              class="form-control"
              ngModel
              required
              #username="ngModel">
    </div>

    <button class="btn btn-primary btn-block" type="submit">Add Food</button>
  </form>

</div>

<div class="post-nav">
  <table class="table">
    <thead>
    <tr>
      <th>Food Name</th>
      <th>Food Type</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{foodName}}</td>
      <td>{{foodType}}</td>
      <td>{{protein}}</td>
      <td>{{carbs}}</td>
      <td>{{fats}}</td>
    </tr>
    </tbody>
  </table>
</div-->
