

  <div class="container">

    <div *ngIf="errorFlag"
         class="alert alert-danger">
      {{errorMsg}}
    </div>

    <h1>{{title}}</h1>

    <!-- Input for Username and Password -->
    <form (ngSubmit)="login()" #f="ngForm">
    <input placeholder="username"
           type="text"
           name="username"
           class="form-control"
           ngModel
           #username="ngModel"/>
      <span class="alert alert-danger form-control" *ngIf="!username.valid && username.touched">
        Please enter username!
      </span>
    <input placeholder="password"
           type="password"
           class="form-control"
           name="password"
           ngModel
           #username="ngModel"/>
    <button class="btn btn-primary btn-block"
            type="submit"
            [routerLink]=profileURL>
      Login
    </button>
      <a href="/facebook/login" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
      </a>

      <button class="btn btn-success btn-block"
            type="submit"
            [routerLink]="['/register']">
      Register
    </button>
      <br>
      <br>
      <span class="alert alert-danger form-control" *ngIf="loginInfoNotValid">
          Please enter valid username and password!
      </span>
    </form>
  </div>
