

input {
	margin-bottom: 5px;
}

.navbar {
	background-color: RoyalBlue;

}

.banner {
	color: white;
}

.post-nav {
	margin-top : 75px;
}

.footer {
	margin-top : 10000px;
}

.widget-item {
	margin-bottom : 30px;
}

.toolbar {
	position: absolute;
	right: 0px;
	background-color: grey;
	padding: 7px;
	border-bottom-left-radius: 10px;
	opacity: 0.75;
}

.padded-div {
  position: absolute;
  padding-left: 75px;
  padding-right: 75px;
}

