

input {
	margin-bottom: 5px; 
}

.navbar {
	background-color: RoyalBlue;

}

.banner {
	color: white;
}

.post-nav {
	margin-top : 75px;
}

.footer{
	margin-top : 10000px;
}

.widget {
	margin-bottom: 50px;
	
}
