<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back arrow in nav bar-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget' ]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left banner"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="banner">New HTML Widget</b>
      </a>
    </p>
  </div>
</nav>


<quill-editor [(ngModel)]="widget.text" name="text" class="post-nav"></quill-editor>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId ]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
