<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back arrow in nav bar-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget' ]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left banner"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="banner">New HTML Widget</b>
      </a>
    </p>
  </div>
</nav>


<div class="post-nav">
  <div class="container">
    <label for="name">Name</label>
    <input placeholder="Name"
           id="name"
           type="text"
           name="name"
           class="form-control"
           ngModel
           required
           [(ngModel)]="widgetName"
           #username="ngModel"/>
  </div>
  <div class="container">
    <quill-editor [(ngModel)]="widgetText" name="text" ></quill-editor>
  </div>
  <br>
  <div class="container">
    <button class="btn btn-primary btn-block" (click)="update()">
      Submit
    </button>
    <button class="btn btn-danger btn-block" (click)="cancel()">
      Cancel
    </button>
  </div>
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId ]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
