
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!--back arrow in nav bar-->
      <p class="navbar-text pull-left">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page' ]" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left banner"></span>
        </a>
      </p>

      <!--check symbol on nav bar-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page' ]" class="navbar-link">
            <span class="glyphicon glyphicon-ok banner"></span>
          </a>
       </p>

      <!--heading on the nav bar-->
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b class="banner">New Page</b>
          </a>
        </p>
    </div>
  </nav>

<div class="container post-nav">
    <!-- Form for Page Name and Title -->
    <form ngForm="createPage()">
    <div class="form-group">
      <label for="page_name">Name</label>
      <input type="text" class="form-control" id="page_name" placeholder="Page Name" [(ngModel)]="pageName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="page_title">Description</label>
      <input type="text" class="form-control" id="page_title" placeholder="Page Title" [(ngModel)]="pageDescription" [ngModelOptions]="{standalone: true}">
    </div>
      <!-- Update Button-->
      <a class="btn btn-primary btn-block"
         type="submit" (click)="createPage()"> Create Page </a>
  </form>
  </div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId ]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
