
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Create New Gym</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container post-nav">

  <form>
    <div class="form-group">
      <label for="name">Gym Name</label>
      <input [(ngModel)]="gymName"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="name"
             placeholder="gym name">
    </div>

    <div class="form-group">
      <label for="type">Gym Type</label>
      <input [(ngModel)]="type"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="type"
             placeholder="gym type">
    </div>

    <div class="form-group">
      <label for="address">Gym Address</label>
      <input [(ngModel)]="address"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="address"
             placeholder="gym address">
    </div>

    <a class="btn btn-primary btn-block"
       (click)="submit()" >Add Gym</a>
  </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user', userId]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
