
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="updateUser()" class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container post-nav">
  <!-- Form for Username, Email, First and Last Names -->
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="username"
             placeholder="username">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="name"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="name"
             placeholder="name">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="email"
             [ngModelOptions]="{standalone: true}"
             type="email"
             class="form-control"
             id="email"
             placeholder="email@example.com">
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <input [(ngModel)]="role"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="role"
             placeholder="role">
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      <input [(ngModel)]="rating"
             [ngModelOptions]="{standalone: true}"
             type="text"
             class="form-control"
             id="rating"
             placeholder="rating"
             readonly>
    </div>

    <label for="followedUsers">Users I Follow</label>
    <div *ngFor="let user of followedUsers" class="container" id="followedUsers">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'other-user', user.userId]"> {{user.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'other-user', user.userId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>

    <br/>
    <label for="followedByUsers">Users Following Me</label>
    <div *ngFor="let user of followedByUsers" class="container" id="followedByUsers">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'other-user', user.userId]"> {{user.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'other-user', user.userId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>
    <br/>
    <label for="followedDiets">Followed Diets
      <a [routerLink]="['/project', 'user', userId, 'new-food']">
        <span class="glyphicon glyphicon-plus pull-right"></span>
      </a>
    </label>
    <div *ngFor="let food of followedDiets" class="container" id="followedDiets">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'diets', food.foodId]"> {{food.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'diets', food.foodId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>
    <br/>
    <label for="followedWorkouts">Workouts I Like
      <a [routerLink]="['/project', 'user', userId, 'new-workout']">
        <span class="glyphicon glyphicon-plus pull-right"></span>
      </a>
    </label>
    <div *ngFor="let workout of followedWorkouts" class="container" id="followedWorkouts">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'workouts', workout.workoutId]"> {{workout.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'workouts', workout.workoutId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>
    <br/>
    <label for="gymMemberships">Gyms I belong to
        <a [routerLink]="['/project', 'user', userId, 'new-gym']">
         <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
    </label>
    <div *ngFor="let gym of gymMemberships" class="container" id="gymMemberships">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'gyms', gym.gymId]"> {{gym.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'gyms', gym.gymId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>
    <br/>
    <label for="storeMemberships">Stores I frequent
      <a [routerLink]="['/project', 'user', userId, 'new-store']">
        <span class="glyphicon glyphicon-plus pull-right"></span>
      </a>
    </label>
    <div *ngFor="let store of storeMemberships" class="container" id="storeMemberships">
      <div class="form-group">
        <a [routerLink]="['/project', 'user', userId, 'stores', store.storeId]"> {{store.name}} </a>
        <a [routerLink]="['/project', 'user', userId, 'stores', store.storeId]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </div>
    </div>

  </form>

  <!-- Buttons for Websites and Logout -->
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', 'user', userId, 'gen-workouts']" >Search Workouts</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', 'user', userId, 'gen-diets']" >Search Diets</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', 'user', userId, 'stores']" >Search Stores</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', 'user', userId, 'gyms']" >Search Gyms</a>
  <a class="btn btn-danger btn-block "
     [routerLink]="['/project/login']">Logout</a>

</div>
<br/><br/><br/><br/><br/>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user', userId]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
