<div class="container">

  <h5> Search Food By Name</h5>
  <form (ngSubmit)="searchFoodByName()" #f="ngForm">
    <input placeholder="enter a name (chicken, fish, lettuce)"
           type="text"
           [(ngModel)]="foodName"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Workout
    </button>
  </form>

  <h5> Search Food By Type</h5>
  <form (ngSubmit)="searchFoodByType()" #f="ngForm">
    <input placeholder="enter type (protein, vegetable, carb)"
           type="text"
           [(ngModel)]="foodType"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Workout
    </button>
  </form>

</div>

<br>
<label for="allWorkouts">All Workouts:</label>
<div *ngFor="let each of allFoods" class="container" id="allWorkouts">
  <div class="form-group">
    <a [routerLink]="['/user', userId, 'website', each._id, 'page']"> {{each.name}} </a>
    <a [routerLink]="['/user', userId, 'website', each._id]">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
  </div>
</div>
<br><br><br><br><br><br><br>

