

<div class="container">

  <h1>Search Foods By Type</h1>

  <form (ngSubmit)="search()" #f="ngForm">
    <input placeholder="enter a food type to get food info"
           type="text"
           name="type"
           class="form-control"
           ngModel
           #username="ngModel"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Food
    </button>
  </form>

  <div *ngFor="let food of foodsByType" class="container post-nav">
    <div class="form-group">
      <a [routerLink]="['/project', 'user', ':uid', 'diets', food._id]"> {{food.name}} </a>
    </div>
  </div>


</div>
