
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Stores List</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container post-nav">
  <h5> Search Stores By Name </h5>
  <form (ngSubmit)="searchStoreByName()" #f="ngForm">
    <input placeholder="enter a store name"
           type="text"
           [(ngModel)]="storeName"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Stores
    </button>
  </form>

  <h5> Search Stores By Type</h5>
  <form (ngSubmit)="searchStoreByType()" #f="ngForm">
    <input placeholder="enter a store type (nutrition, grocery, etc.)"
           type="text"
           [(ngModel)]="storeType"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Stores
    </button>
  </form>

  <br>
  <label for="allStores">All Stores:</label>
  <div *ngFor="let each of allStores" class="container" id="allStores">
    <div class="form-group">
      <a [routerLink]="['/project', 'user', userId, 'diets', each._id]"> {{each.name}} </a>
      <a (click)="addToProfile(each._id, each.name)">
        <span class="glyphicon glyphicon-plus pull-right"></span>
      </a>
    </div>
  </div>



</div>

<br><br><br><br><br><br><br>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user', userId]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
