

<div class="container">
  <h1> Search Stores By Name </h1>

  <form (ngSubmit)="searchStore()" #f="ngForm">
    <input placeholder="enter a food name to get user info"
           type="text"
           name="store"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Store
    </button>
  </form>

</div>


<div class="post-nav">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>type</th>
      <th>address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{type}}</td>
      <td>{{address}}</td>
    </tr>
    </tbody>
  </table>
</div>

