

  <div class="container post-nav">
  <!-- Form for entering Name, Text, and Size of Widget -->
    <form>
      <div class="form-group">
          <label for="heading_name">Name</label>
          <input [(ngModel)]="widgetName"
                 type="text"
                 class="form-control"
                 id="heading_name"
                 [ngModelOptions]="{standalone: true}">
      </div>

     <div class="form-group">
         <label for="heading_text">Text</label>
         <input [(ngModel)]="widgetText"
                type="text"
                class="form-control"
                id="heading_text"
                [ngModelOptions]="{standalone: true}">
     </div>

    <div class="form-group">
        <label for="heading_size">Size</label>
        <input [(ngModel)]="widgetSize"
               type="number"
               min="1"
               max="7"
               step="1"
               class="form-control"
               id="heading_size"
               [ngModelOptions]="{standalone: true}">
    </div>

      <a class="btn btn-primary btn-block"
         (click)="updateWidget()" >Update</a>
      <a class="btn btn-danger btn-block"
         (click)="deleteWidget()" >Delete</a>
      <br>
      <span class="alert alert-danger form-control" *ngIf="invalidWidgetName">
          {{invalidMessage}}
      </span>
  </form>

  </div>
