


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!--back arrow in nav bar-->
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget' ]" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left banner"></span>
          </a>
        </p>

       <!--heading on the nav bar-->
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b class="banner">Choose Widget</b>
          </a>
        </p>
     </div>
  </nav>

  <!-- Set of Widgets to choose form -->
  <div class="container post-nav">
    <div class="form-group">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget' ]"> Header </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Label </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> HTML </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Text Input </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Link </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Button </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Image </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> YouTube </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Data Table </a>
    </div>

    <div class="form-group">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId ]"> Repeater </a>
    </div>

  </div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId ]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
