<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="banner">Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-ok banner"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container post-nav">

  <h5> Search Workouts By Name</h5>
  <form (ngSubmit)="searchWorkoutByName()" #f="ngForm">
    <input placeholder="enter ane exercise (squat, etc.)"
           type="text"
           [(ngModel)]="workoutName"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Workout
    </button>
  </form>

  <h5> Search Workouts By Type</h5>
  <form (ngSubmit)="searchWorkoutByType()" #f="ngForm">
    <input placeholder="enter a body part (chest, abs, etc.)"
           type="text"
           [(ngModel)]="workoutType"
           [ngModelOptions]="{standalone: true}"
           type="text"
           class="form-control"/>
    <button class="btn btn-primary btn-block"
            type="submit">
      Search Workout
    </button>
  </form>

</div>

<br>
<label for="allWorkouts">All Workouts:</label>
<div *ngFor="let each of allWorkouts" class="container" id="allWorkouts">
  <div class="form-group">
    <a [routerLink]="['/project', 'user', userId, 'workouts', each._id ]"> {{each.name}} </a>
    <a (click)="addToProfile(each._id, each.name)">
      <span class="glyphicon glyphicon-plus pull-right"></span>
    </a>
  </div>
</div>
<br><br><br><br><br><br><br>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/project', 'user', userId]">
        <span class="glyphicon glyphicon-user banner"></span>
      </a>
    </p>

  </div>
</nav>
